.menu {
  padding: 0 5px;
  overflow: auto;
}

.switch {
  /* padding-right: 10px; */
}

.menu__logo {
  width: 180px;
  float: left;
  margin-left: 7px;
  margin-right: -15px;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 14px 1px;
  margin-left: 20px;
}

.menu__container {
  margin-top: 5px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 5px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 5px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

.menu__badge {
  padding: 0 2px;
}

@media (max-width: 720px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    margin-right: -5px;
  }

  .menu__badge {
    padding: 0 2px;
  }
}
